<link rel="stylesheet" href="../../public/css/pages/homepage.css" />

<div class="slider">
	<div class="slide-item active">
		<div class="infor">
			<h1>Đó không chỉ là công việc. Đó là cách làm việc cùng nhau.</h1>
			<p>
				Bắt đầu với bảng WorkPlace, danh sách và thẻ. Tùy chỉnh và mở
				rộng với nhiều tính năng hơn khi tinh thần làm việc nhóm của bạn
				phát triển. Quản lý các dự án, sắp xếp nhiệm vụ và xây dựng tinh
				thần làm việc nhóm—tất cả ở cùng một nơi.
			</p>
		</div>
		<img src="../../public/img/auth/favico.svg" alt="" />
	</div>
	<div class="slide-item">
		<div class="infor">
			<h1>Tự động hóa không mã</h1>
			<p>
				Hãy để rô-bốt thực hiện công việc—để nhóm của bạn có thể tập
				trung vào công việc quan trọng. Với tính năng tự động hóa tích
				hợp sẵn của Trello, Butler, giảm số lượng nhiệm vụ tẻ nhạt (và
				số lần nhấp chuột) trên bảng dự án của bạn bằng cách khai thác
				sức mạnh của tự động hóa trong toàn bộ nhóm của bạn.
			</p>
		</div>
		<img src="../../public/img/homepage/1.jpg" alt="" />
	</div>
	<div class="slide-item">
		<div class="infor">
			<h1>Các tính năng giúp nhóm của bạn thành công</h1>
			<p>
				Tăng cường hiệu quả làm việc của nhóm có nghĩa là sử dụng một
				công cụ mạnh (và nhiều đồ ăn nhẹ). Từ các cuộc họp và dự án cho
				đến các sự kiện và thiết lập mục tiêu, các tính năng trực quan
				của Trello giúp các nhóm nhanh chóng thiết lập và tùy chỉnh các
				quy trình làm việc cho bất kỳ việc gì.
			</p>
		</div>
		<img src="../../public/img/homepage/2.jpg" alt="" />
	</div>
	<div class="slide-item">
		<div class="infor">
			<h1>Các thẻ chứa mọi thứ bạn cần</h1>
			<p>
				Các thẻ Trello là cổng thông tin để bạn làm việc có tổ chức
				hơn—nơi từng phần nhiệm vụ của bạn được quản lý, theo dõi và
				chia sẻ với đồng đội. Mở bất kỳ thẻ nào để khám phá hệ sinh thái
				các danh sách công việc, ngày hết hạn, tệp đính kèm, cuộc trò
				chuyện và hơn thế nữa.
			</p>
		</div>
		<img src="../../public/img/homepage/4.jpg" alt="" />
	</div>
	<div class="slide-item">
		<div class="infor">
			<h1>Bảng mới chỉ là khởi đầu</h1>
			<p>
				Danh sách và thẻ là các khối xây dựng để tổ chức công việc trên
				bảng Trello. Phát triển từ đó với các nhiệm vụ được giao, lịch
				trình, chỉ số năng suất, lịch và hơn thế nữa.
			</p>
		</div>
		<img src="../../public/img/homepage/3.jpg" alt="" />
	</div>
	<div class="navigation">
		<i class="fas fa-chevron-left prev-btn"></i>
		<i class="fas fa-chevron-right next-btn"></i>
	</div>
	<div class="navigation-visibility">
		<div class="slide-icon active"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
		<div class="slide-icon"></div>
	</div>
</div>

<script src="../../public//js/homepages.js" type="text/javascript"></script>

<div class="hero">
	<div class="left-hero">
		<div class="title">
			<h1>WorkPlace giúp các nhóm phát triển công việc về phía trước.</h1>
		</div>
		<div class="desc">
			<p>
				Cộng tác, quản lý dự án và đạt đến đỉnh cao năng suất mới. Từ
				các tòa nhà cao tầng đến văn phòng tại nhà, cách nhóm của bạn
				làm việc là duy nhất—hoàn thành tất cả với WorkPlace.
			</p>
		</div>
		<a href="/api/auth/register">Đăng ký miễn phí</a>
	</div>
	<div class="right-hero">
		<img
			src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/hero/6a3ccd8e5c9a0e8ebea4235d12da6b24/hero.png"
			alt="logo"
		/>
	</div>
</div>
