<link rel="stylesheet" href="../../public/css/util/notification.css" />
<div id="notification">
    <div class="success" style="display: none;">
        <img src="../../public/img/table/notify-success.svg" alt="success" />
        <span id="success-message"></span>
    </div>
    <div class="fail">
        <img src="../../public/img/table/notify-error.svg" alt="error" />
        <span id="fail-message"></span>
    </div>
</div>